# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python VirtualEnv
.venv/

# VSCode
.vscode/

#node js cache
web/node_modules/
web/dmm.js

# Ignore the settings file
settings.py