[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio = "*"
numpy = "*"
bleak = "*"
websockets = "*"
fastapi = "*"
uvicorn = "*"
aiofiles = "*"
txdbus = "*"
obs-websocket-py = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.8"
