# MIT License

# Import your meter
from meters.demo import Demo
from meters.MP730026 import MP730026


# Then add it to the tuple so it gets instantiated.
# Supports up to 10 total meters.
multi_meters = (
    Demo(),
    MP730026(),
)
